<article class="bg">
    <section id="featured-areas-section">
        <h2 class="section-header txt">Featured Areas</h2>
        <div class="featured-areas-container container">
            <a href="#" class="featured-area-cards santa-rita soft-edges box-shadow">
               
            </a>
            <a href="#" class="featured-area-cards buffalo-heights soft-edges box-shadow">
                
            </a>
        </div>
    </section>

    <section id="reviews-section">
        <h2 class="section-header txt">Reviews</h2>
        <div class="reviews-container container box-shadow soft-edges bg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eum provident sequi in! 
            Beatae, suscipit assumenda fuga repellat nulla magni reprehenderit officiis minus error ipsam.
            <br/>- Satisfied Client
        </div>
    </section>

    <section id="team-section">
        <h2 class="section-header txt">Our Team</h2>
        <div class="team-card-container">
            <div class="team-cards box-shadow" id="amy">
                <a class="team-cards-info" href="#">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat molestias labore nulla omnis vero?
                </a>
            </div>
            <div class="team-cards box-shadow" id="lacy">
                <a class="team-cards-info" href="#">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat molestias labore nulla omnis vero?
                </a>
            </div>
            <div class="team-cards box-shadow" id="katherine">
                <a class="team-cards-info" href="#">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat molestias labore nulla omnis vero?
                </a>
            </div>
        </div>
    </section>

    <section id="contact-section" class="box-shadow bg-accent">
        <h2 class="section-header txt">Contact Us</h2>
        <div class="contact-form-container container">
            <form class="contact-form" action="/submit-contact" method="post">
                <input type="text" name="first-name" id="first-name" placeholder="firstname">
                <input type="text" name="last-name" id="last-name" placeholder="lastname">
                <input type="email" name="email" id="email" placeholder="email">
                <input type="number" name="number" id="number" placeholder="phone#">
                <input type="checkbox" name="subscribe-checkbox" id="subscribe-checkbox">
                <label id="subscribe-checkbox-label" class="txt" for="subscribe-checkbox">Subscribe to our newsletter?</label>
                <textarea name="contact-body" id="contact-body"></textarea>
                <input id="submit" class="txt" type="submit" value="submit">
            </form>
        </div>
    </section>

</article>