<footer class="dark-bg">
    <div class="footer-link-container">
        <a class="footer-link light-txt font-1" href="https://www.eranewlin.com/">ERA Newlin website</a>
        <a class="footer-link light-txt font-1" href="https://www.eranewlin.com/agents/1004557/Ryan+Newlin">our broker</a>
        <a class="footer-link light-txt font-1" href="#">Information about Brokerage Services</a>
        <a class="footer-link light-txt font-1" href="#">test</a>
    </div>
    <div class="footer-link-container">
        <a class="footer-link light-txt font-1" href="#">test</a>
        <a class="footer-link light-txt font-1" href="#">test</a>
        <a class="footer-link light-txt font-1" href="#">test</a>
        <a class="footer-link light-txt font-1" href="#">test</a>
    </div>
    <div class="footer-link-container">
        <a class="footer-link light-txt font-1" href="#">test</a>
        <a class="footer-link light-txt font-1" href="#">test</a>
        <a class="footer-link light-txt font-1" href="#">test</a>
        <a class="footer-link light-txt font-1" href="#">test</a>
    </div>
    <div>
        <p class="footer-link light-txt font-1">Copyright&copy; <%= locals.year %></p>
        <a class="footer-link light-txt font-1" href="#">Website built by Tye Cowden</a>
    </div>
    <div>
        
    </div>
</footer>