<nav class="box-shadow bg">
    <div class="nav-logo-container">
        <a class="logo" href="/"></a>
        <a class="brand-name font-4 dark-txt" href="/">| Texas Living Realty Group</a>
    </div>
    <div class="nav-btn-container">
        <a class="nav-btn dark-txt" href="/blog">blog</a>
        <a class="nav-btn dark-txt" href="/vendors">vendors</a>
        <a class="nav-btn dark-txt" href="#">contact</a>
    </div>
</nav>