<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/hero.css">
    <link rel="stylesheet" href="/styles/article.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <title>Texas Living Realty Group</title>
</head>
<body>
    <%- include(dir + "/views/partials/nav.ejs") %> <!--NAV-->
    <%- include(dir + "/views/partials/hero.ejs") %>  <!--HERO-->

    <%- include(dir + "/views/partials/article.ejs") %>

    <%- include(dir + "/views/partials/footer.ejs") %>
</body>
</html>